click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.5
matplotlib==3.9.2
mypy-extensions==1.0.0
numpy==2.1.0
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
ruff==0.6.1
scipy==1.14.1
six==1.16.0
